#root {
  max-width: 1280px;
  margin: 50px auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border: white;
}

.read-the-docs {
  color: #888;
}

.custom-link {
  color: black; 
  text-decoration: none; 
}

.custom-link:hover {
  color: green; 
}

.myname {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 7px;
}

.fsd {
  letter-spacing: 10px;
  font-size: 30px;
  color: grey;
}

.skillsList img {
  height: 80px;
  margin: 50px 10px;
}

.skillsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  width: 100%;
}

.custom-letter-spacing {
  letter-spacing: 5px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.social-icons {
  margin-bottom: 20px; 
}

.social-items img {
  height: 35px;
  margin: 0 10px; 
}

.footer p {
  color: #888;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.ms-auto {
  margin-top: -35px;
}

.me-auto {
  display: flex;
  justify-content: center;
}

.justify-content-md-center .img-fluid {
  width: 400px;
}

.about-intro {
  font-weight: 700;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1em;
}

.text-start {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.justify-content {
  display: flex;
  text-align: justify;
}

.image-size {
  height: 110px;
}

.full-width {
  width: 100%;
}

.carousel img {
  width: 800px;
  height: 500px;
}